<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Asignar APU</title>
<div th:replace="Menu.html"></div>
<div class="contenedor-principal" id="contenedor-move">
	<a class="boton-volver"th:href="@{'/Proyectos/' + ${apuItemSubproyecto.itemSubproyecto.subproyecto.proyecto.id} + '/Subproyectos/' + ${apuItemSubproyecto.itemSubproyecto.subproyecto.id} + '/Items/' + ${apuItemSubproyecto.itemSubproyecto.id} + '/APU/'+ ${apuItemSubproyecto.id} + '/Recursos/Materiales'}">VOLVER</a>
	<form th:action="@{'/Proyectos/' + ${apuItemSubproyecto.itemSubproyecto.subproyecto.proyecto.id} + '/Subproyectos/' + ${apuItemSubproyecto.itemSubproyecto.subproyecto.id} + '/Items/' + ${apuItemSubproyecto.itemSubproyecto.id} + '/APU/'+ ${apuItemSubproyecto.id} + '/Recursos/Materiales/Asignar_Material'}" th:object="${materialAPUItemSubproyecto}" method="POST">
		<div class="contenedor-play-subproyecto">
			<div class="proyecto-play">
			
				<div class="ubicacion">
					<a>MATERIAL</a>
					<label for="materialId" class="texto">
						<select class="cuadro-texto" id="materialId" name="materialId" required>
                        <option th:each="material : ${materiales}" th:value="${material.id}" th:text="${material.nombre}"></option>
						</select>
					</label>


				</div>
				<br>
			</div>
			<br>
			<div class="ubicacion">
				<a>PROVEEDOR</a>
				<div class="texto">
					<input class="cuadro-texto" type="number" id="proveedor" name="proveedor" required>
				</div>
			</div>
			<br>
			<div class="ubicacion">
				<a>CANTIDAD</a>
				<div class="texto">
					<input class="cuadro-texto" type="text" id="cantidad" name="cantidad" required pattern="^\d+(\.\d+)?$" title="Número entero o con punto decimal">
				</div>
			</div>
			<br>
			<div class="ubicacion">
				<a>VALOR UNITARIO</a>
				<div class="texto">
					<input class="cuadro-texto" type="text" id="valorUnitario" name="valorUnitario" required pattern="^\d+(\.\d+)?$" title="Número entero o con punto decimal">
				</div>
			</div>
			<button type="submit" class="boton-subproyecto">ASIGNAR MATERIAL</button>
		</div>
		</form>
</div>
</div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>

</html>