<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Proyecto</title>
    <div th:replace="Menu.html"></div>
        <div class="contenedor">
        <form th:action="@{/Proyectos/Guardar}" th:object="${proyecto}" method="POST">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="${proyecto.creador.id}">
            <input type="hidden" th:field="${proyecto.fechaCreacion}">
            <div class="formulario">
                <div class="contenedor-formulario">
                    <div class="nombre-proyecto">
                        <label for="nombre-proyecto">NOMRRE DEL PROYECTO*</label>
                    </div>
                    <div class="texto">
                        <input class="cuadro-texto" type="text" id="nombre" name="nombre" th:field="*{nombre}" required>
                    </div>
                </div>
                <div class="contenedor-formulario">
                    <div class="ubicacion-proyecto">
                        <label for="ubicacion-proyecto">UBICACIÓN*</label>
                    </div>
                    <div class="texto">
                        <input class="cuadro-texto" type="text" id="ubicacion" name="ubicacion" th:field="*{ubicacion}" required>
                    </div>
                </div>
            </div>
            <div class="botones">
            	<button type="submit" class="boton boton-verde">COMENZAR</button>
                <a th:href="@{'/Proyectos/Mis_Proyectos'}">
                    <button type="button" class="boton boton-rojo">CANCELAR</button>


            </div>
            </form>
        </div>
        </div>
    <script th:src="@{/js/script.js}"></script>
</body>

</html>