<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Asignar APU</title>
<div th:replace="Menu.html"></div>
<div class="contenedor-principal" id="contenedor-move">
	<a class="boton-volver" th:href="@{'/Proyectos/' + ${itemSubproyecto.subproyecto.proyecto.id} + '/Subproyectos/' + ${itemSubproyecto.subproyecto.id} + '/Items/' + ${itemSubproyecto.id} + '/APU'}">VOLVER</a>
	<form th:action="@{'/Proyectos/' + ${itemSubproyecto.subproyecto.proyecto.id} + '/Subproyectos/'+ ${itemSubproyecto.subproyecto.id} +'/Items/' + ${itemSubproyecto.id} +'/APU/Asignar_APU'}" th:object="${apuItemSubproyecto}" method="POST">
		<div class="contenedor-play-subproyecto">
			<div class="proyecto-play">
			
				<div class="ubicacion">
					<a>APU</a>
					<label for="apuId" class="texto">
						<select class="cuadro-texto" id="apuId" name="apuId" required>
                        <option th:each="apu : ${apus}" th:value="${apu.id}" th:text="${apu.nombre}"></option>
                    </select>
					</label>
					
					
					</div>
				</div>
				<br>
				<div class="ubicacion">
    					<a>CANTIDAD</a>
    						<div class="texto">
        						<input class="cuadro-texto" type="text" id="cantidad" name="cantidad" required pattern="^\d+(\.\d+)?$" title="Número entero o con punto decimal">
    						</div>
			</div>
			<button type="submit" class="boton-subproyecto">ASIGNAR APU</button>
		</div>
		</form>
</div>
</div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>

</html>