<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Subproyecto</title>
    <div th:replace="Menu.html"></div>
        <div class="contenedor">
        <form th:action="@{'/Proyectos/' + ${proyecto.id} + '/Subproyectos/' + ${subproyecto.id} + '/Actualizar'}" th:object="${subproyecto}" method="POST">
            <div class="formulario">
                <div class="contenedor-formulario">
                    <div class="nombre-proyecto">
                        <label for="nombre-proyecto">NOMRRE DEL SUBPROYECTO*</label>
                    </div>
                    <div class="texto">
                        <input class="cuadro-texto" type="text" id="nombre" name="nombre" th:field="*{nombre}">
                    </div>
                </div>
            </div>
            <div class="botones">
                <button type="submit" class="boton boton-verde">GUARDAR</button>
	            <button th:href="@{'/Proyectos/' + ${proyecto.id} + '/Subproyectos'}" class="boton boton-rojo">CANCELAR</button>


            </div>
        </div>
    </div>
    <script th:src="@{/js/script.js}"></script>
</body>

</html>