<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ASIGNAR ITEM</title>
<div th:replace="Menu.html"></div>
<div class="contenedor-principal" id="contenedor-move">
	<a class="boton-volver" th:href="@{'/Proyectos/' + ${subproyecto.proyecto.id} + '/Subproyectos/' + ${subproyecto.id} + '/Items'}">VOLVER</a>
	<form th:action="@{'/Proyectos/' + ${subproyecto.proyecto.id} + '/Subproyectos/'+ ${subproyecto.id} +'/Items/Asginar_Item'}" th:object="${itemSubproyecto}" method="POST">
		<div class="contenedor-play-subproyecto">
			<div class="proyecto-play">
			
				<div class="ubicacion">
					<a>ITEM</a>
					<label for="itemId" class="texto">
						<select class="cuadro-texto" id="itemId" name="itemId" required>
                        <option th:each="item : ${items}" th:value="${item.id}" th:text="${item.nombre}"></option>
                    </select>
					</label>
				</div>
			</div>
			<button type="submit" class="boton-subproyecto">ASIGNAR ITEM</button>
		</div>
		</form>
</div>
</div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>

</html>