@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
.pantalla-de-incio {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pantalla-de-incio .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 2987px;
  position: relative;
}

.pantalla-de-incio .overlap-group {
  position: absolute;
  width: 1921px;
  height: 2347px;
  top: 0;
  left: -1px;
}

.pantalla-de-incio .footer-redes {
  position: absolute;
  width: 1920px;
  height: 120px;
  top: 1502px;
  left: 1px;
  background-color: #ffffff;
}

.pantalla-de-incio .imagen-corte-inicio {
  position: absolute;
  width: 1920px;
  height: 863px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.pantalla-de-incio .bottom-inicio {
  position: absolute;
  width: 282px;
  height: 63px;
  top: 481px;
  left: 820px;
  background-color: #fe9f30;
  border-radius: 59px;
}

.pantalla-de-incio .inicio-text {
  position: absolute;
  width: 169px;
  top: 492px;
  left: 877px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.pantalla-de-incio .LICIBUILDER-text {
  position: absolute;
  width: 1334px;
  top: 322px;
  left: 294px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #f7fffe;
  font-size: 128px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.pantalla-de-incio .cuadro-explicacion {
  top: 860px;
  left: 1px;
  background-color: #000000;
  position: absolute;
  width: 1920px;
  height: 481px;
}

.pantalla-de-incio .rectangle {
  width: 676px;
  height: 338px;
  top: 931px;
  left: 1144px;
  position: absolute;
  object-fit: cover;
}

.pantalla-de-incio .text-wrapper {
  position: absolute;
  width: 607px;
  top: 967px;
  left: 233px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.pantalla-de-incio .p {
  position: absolute;
  width: 929px;
  top: 1056px;
  left: 72px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.pantalla-de-incio .cuadro-explicacion-2 {
  position: absolute;
  width: 1920px;
  height: 533px;
  top: 1814px;
  left: 0;
  background-color: #dbdad8;
}

.pantalla-de-incio .cuadro-explicacion-3 {
  top: 1337px;
  left: 0;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 1920px;
  height: 481px;
}

.pantalla-de-incio .img {
  width: 703px;
  height: 361px;
  top: 1900px;
  left: 180px;
  position: absolute;
  object-fit: cover;
}

.pantalla-de-incio .text-wrapper-2 {
  position: absolute;
  width: 809px;
  top: 1930px;
  left: 1033px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.pantalla-de-incio .img-sirve-para {
  width: 507px;
  left: 77px;
  position: absolute;
  height: 279px;
  top: 1382px;
}

.pantalla-de-incio .img-sirve-para-2 {
  width: 506px;
  left: 707px;
  position: absolute;
  height: 279px;
  top: 1382px;
}

.pantalla-de-incio .text-wrapper-3 {
  position: absolute;
  width: 929px;
  top: 2025px;
  left: 960px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.pantalla-de-incio .img-sirve-para-3 {
  width: 506px;
  left: 1336px;
  position: absolute;
  height: 279px;
  top: 1382px;
}

.pantalla-de-incio .text-wrapper-4 {
  position: absolute;
  width: 479px;
  top: 1693px;
  left: 105px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 27px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.pantalla-de-incio .text-wrapper-5 {
  position: absolute;
  width: 479px;
  top: 1691px;
  left: 721px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 27px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.pantalla-de-incio .text-wrapper-6 {
  position: absolute;
  width: 478px;
  top: 1701px;
  left: 1356px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 27px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.pantalla-de-incio .overlap {
  position: absolute;
  width: 1920px;
  height: 481px;
  top: 2347px;
  left: 0;
  background-color: #ffffff;
}

.pantalla-de-incio .element {
  position: absolute;
  width: 752px;
  height: 421px;
  top: 30px;
  left: 583px;
  object-fit: cover;
}

.pantalla-de-incio .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 159px;
  top: 2828px;
  left: 0;
  background-color: #000000;
}

.pantalla-de-incio .ellipse {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 30px;
  left: 530px;
  object-fit: cover;
}

.pantalla-de-incio .ellipse-2 {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 35px;
  left: 896px;
}

.pantalla-de-incio .ellipse-3 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 30px;
  left: 1271px;
  object-fit: cover;
}
.notification {
    padding: 15px;
    color: #fff;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
    border-radius: 5px;
    border: 1px solid transparent;
}

.blue {
    background-color: #007bff; /* Azul */
}

.green {
    background-color: #28a745; /* Verde */
}

.red {
    background-color: #dc3545; /* Rojo */
}

.orange {
    background-color: #ed5c2c; /* Naranja */
}

.notification .close {
    float: right;
    cursor: pointer;
}