<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Inicio de Sesión</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="../css/proyectos.css">
    <script src="https://kit.fontawesome.com/43d3343120.js" crossorigin="anonymous"></script>
</head>

<body>
<form id="cuadro" th:action="@{/Iniciar_Sesion}" method="post">
    <div id="redNotification" th:if="${param.error}" class="notification red">
        <span>Usuario o Contraseña Invalidos</span>
        <span class="close" onclick="closeNotification('redNotification')">×</span>
    </div>
    <div id="blueNotification" th:if="${param.registro}" class="notification blue">
        <span>Se ha enviado un enlace de activación al correo</span>
        <span class="close" onclick="closeNotification('blueNotification')">×</span>
    </div>

    <div id="redNotification" th:if="${param.errorTokenRecovery}" class="notification red">
        <span>Enlace de recuperación expirado o inexistente</span>
        <span class="close" onclick="closeNotification('redNotification')">×</span>
    </div>

    <div id="redNotification" th:if="${param.errorToken}" class="notification red">
        <span>Enlace de activación expirado o inexistente</span>
        <span class="close" onclick="closeNotification('redNotification')">×</span>
    </div>
    <div id="greenNotification" th:if="${param.exitoRegistro}" class="notification green">
        <span>Su cuenta ha sido activada exitosamente</span>
        <span class="close" onclick="closeNotification('greenNotification')">×</span>
    </div>
    <div id="greenNotification" th:if="${param.exitoCambio}" class="notification green">
        <span>Su contraseña ha sido cambiada exitosamente</span>
        <span class="close" onclick="closeNotification('greenNotification')">×</span>
    </div>
    <a class="linkcasa" href="/	">
        <img class="casita" src="../imagenes/inicio.png">
    </a>
    <img class="imagen" src="../imagenes/usuario.png" id="imagen">
    <br>
    <label for="username">
        <i class="fa-solid fa-user"></i>
        <input required autofocus="autofocus" placeholder="CORREO ELECTRONICO" type="email" id="username"
               name="username">
    </label>
    <br>
    <label for="password">
        <i class="fa-solid fa-lock"></i>
        <input id="password" type="password" name="password" required autofocus="autofocus" placeholder="CONTRASEÑA">
    </label>
    <a th:href="@{/Recuperar_Contrasena}" class="link">¿OLVIDASTE LA CONTRASEÑA?</a>
    <br>
    <a th:href="@{/Registro}" class="link">¿NO TIENES CUENTA? REGISTRATE</a>
    <br>
    <button id="login" class="boton-login">INICIAR</button>
    <br>
</form>
<script src="../js/script.js"></script>
</body>

</html>