<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Recuperación de Contraseña</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="../css/proyectos.css">
    <script src="https://kit.fontawesome.com/43d3343120.js" crossorigin="anonymous"></script>
</head>

<body>
<form id="cuadro" th:action="@{/Recuperar_Contrasena/Validar}" method="post">
    <div id="redNotification" th:if="${param.error}" class="notification red">
        <span>Correo Invalido</span>
        <span class="close" onclick="closeNotification('redNotification')">×</span>
    </div>
    <div id="blueNotification" th:if="${param.exito}" class="notification blue">
        <span>Se ha enviado un enlace de recuperacion al correo</span>
        <span class="close" onclick="closeNotification('blueNotification')">×</span>
    </div>
    <a class="linkcasa" href="/	">
        <img class="casita" src="../imagenes/inicio.png">
    </a>
    <img class="imagen" src="../imagenes/usuario.png" id="imagen">
    <br>
    <label for="username">
        <i class="fa-solid fa-user"></i>
        <input required autofocus="autofocus" placeholder="CORREO ELECTRONICO" type="email" id="correo" name="correo">
    </label>
    <br>
    <button id="login" class="boton-login">RECUPERAR CONTRASEÑA</button>
    <br>
</form>
<script src="../js/script.js"></script>
</body>

</html>