<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Inicio de Sesión</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="../css/proyectos.css">
    <script src="https://kit.fontawesome.com/43d3343120.js" crossorigin="anonymous"></script>
</head>

<body>
<form id="cuadro" th:object="${usuario}" th:action="@{/Registro}" method="post">
    <input type="hidden" th:field="*{id}">

    <div id="redNotification" th:if="${param.errorRegistro}" class="notification red">
        <span>Este correo ya se encuentra registrado</span>
        <span class="close" onclick="closeNotification('redNotification')">×</span>
    </div>

    <a class="linkcasa" href="/	">
        <img class="casita" src="../imagenes/inicio.png">
    </a>
    <img class="imagen" src="../imagenes/usuario.png" id="imagen">
    <br>
    <label for="username">
        <i class="fa-solid fa-user"></i>
        <input required autofocus="autofocus" placeholder="NOMBRE" type="text" id="nombre" name="nombre">
    </label>
    <br>
    <label for="username">
        <i class="fa-solid fa-user"></i>
        <input required autofocus="autofocus" placeholder="APELLIDO" type="text" id="apellido" name="apellido">
    </label>
    <br>
    <label for="username">
        <i class="fa-solid fa-user"></i>
        <input required autofocus="autofocus" placeholder="CORREO ELECTRONICO" type="email" id="username" name="username">
    </label>
    <br>
    <label for="password">
        <i class="fa-solid fa-lock"></i>
        <input id="password" type="password"  name="password" required autofocus="autofocus" placeholder="CONTRASEÑA">
    </label>

    <a th:href="@{/Iniciar_Sesion}" class="link">¿YA TIENES CUENTA? INICIA SESION</a>
    <br>
    <button id="registro" class="boton-login" type="submit">REGISTRARSE</button>
    <br>
</form>
<script src="../js/script.js"></script>
</body>

</html>